{% extends 'main.html' %}

{% load static %}

{% block content %}
<div>Выберите Преподавателя</div>
<ul>
{% for teacher in data.teachers %}
<li><a href="{% url 'order_url' teacher.id %}">{{teacher.first_name}}</a></li>
{% empty %}
<li>Список пуст</li>
{% endfor %}
</ul>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Форма ввода в HTML5</title>
</head>

<body>
    <form action="sendText" method="get">
        <p>
            <label for="firstname">Имя: </label>
            <input name="text" type="text" placeholder="Search...">

        </p>
        
        <p>
            <button type="submit">Создать заявку</button>
        </p>
    </form>
</body>

</html>
{% endblock %}