{% extends 'main.html' %}

{% load static %}

{% block title %}Список преподавателей{% endblock %}

{% block content %}



    <div class="info">
        <div class="Text logo" style="font-size: 70px;">Информационные <br /> системы<br /> и технологии</div>
        <br />
        <br />
        <div class="Text">Кафедра Заполярного<br /> государственного университета<br /> им. Н.М.Федоровского <br />
            Основана 5 декабря в 2002 г. 
        </div>
    </div>

<div class="Text logo" style="font-size: 60px;display: flex;justify-content: center;margin-bottom: 5vmin">Сотрудники</div>
<ul style="display: flex; justify-content: space-around;padding-left: 0;padding: 0 2vw;flex-wrap: wrap;">
    {% for teacher in data.teachers %}
        <li style="list-style-type: none;"><a href="{% url 'order_url' teacher.id %}" style="text-decoration: none;">
            <div class="container">
                <div class="card">
                    <img src="{% static 'pics/1.jpeg' %}" style="border: solid 6px grey;" alt="{{order.id}}"/>
                    <br/>
                    <div class="Text " >{{ teacher.first_name }}</div>
                    <div class="Text " >{{ teacher.second_name }}</div>
                    <div class="Text green" style="line-height: 45px;">{{teacher.degree1}}</div>
                    <div class="Text green" >{{teacher.degree2}}</div>

                    
                </div>
            </a>  
        </li>
    {% empty %}
        <li>Список пуст</li>
    {% endfor %}
</ul>

<!-- <form action="sendText" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="text" type="text"><br><br>
    <input type="submit" value="Submit" >
</form> -->
{% endblock %}